

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background:   linear-gradient(to right,rgba(255, 0, 0, 0.479),rgba(0, 0, 255, 0.411)),url("./banner.jpg");
  background-size: cover;

}

/* .homeSection{
   background-color: white;
 

} */